

nav {
    height: 80px;
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
}


ul {display:flex;
flex-direction: row;
}


ul li {display: flex;
justify-content: space-evenly;
    margin-left: 25px;}






  
img {padding-top: 60px;
    margin: 10px;
    height: 350px;
}





.column-layout {max-width: 1500px;
    height: 550px;
    margin: 20px;
    line-height: 1.6;
    font-size: 18px;
    padding: 10px 20px;
    display: flex;
}

.main-column {
    flex: 2;
    margin-right: 40px;
    padding: 20px;
    margin: 20px;
    background-color: whitesmoke;
}

.sidebar-one {
    flex: 1;
    padding: 20px;
    margin: 20px;
    background-color: whitesmoke;
    }


footer {
    height: 80px;
    background: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
}